RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

#RewriteRule .* index.php
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(public)/(.*)$ ./$2
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php

